---
version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule: 
      interval: "daily"
    assignees:
    - "@knechtionscoding"
  - package-ecosystem: "docker"
    directory: "/"
    schedule: 
      interval: "daily"
    assignees:
    - "@knechtionscoding"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule: 
      interval: "daily"
    assignees:
    - "@knechtionscoding"
